h1, h2, h3 {
    text-align: center;
}

body {

}

header {
    background-color: #000000;
    color: #ffffff
}

a {
    border: #ffffff;
    font-size: 1rem;
    text-align: center;
    background-color: #808080;
    color: #ffffff;

}
