@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --clr-fire: #f08030;
    --clr-flying: #a890f0;
    --clr-dark: #705848;
    --clr-bug: #a8b820;
    --clr-steel: #b8b8d0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: var(--clr-black); */
    font-family: 'rubik', sans-serif;
}

body {
    width: 100vw;
    height: auto;
}

header {
    height: 10%;
    background-color: var(--clr-black);
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: var(--clr-black);
}

.topnav a {
    float: left;
    color: var(--clr-white);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    background-color: var(--clr-dark);
}

.topnav a:hover {
    background-color: var(--clr-steel);
    color: var(--clr-black);
}

.topnav a.active {
    background-color: var(--clr-bug);
    color: var(--clr-white);
}



footer {
    background-color: var(--clr-black);
    height: 6%;
    padding: 1em 0;
    text-align: center;    
    color: var(--clr-white);
    font-size: 16px;
}

footer a {
    color: var(--clr-white);
    margin: 0px 6px;
    font-size: 1.5vw;
}

footer a:hover {
    background-color: #ddd;
    color: black;
}

footer a:active {
    background-color: #04AA6D;
    color: white;
}

footer div {
    padding-bottom: 0.3em;
}
